
{% extends "layout.html" %}
<!-- nunjucks -->

{% block head %}

  <title>Sobre - Reinaldo Ponce Junior</title>

{% endblock %}

{% block content %}

<div id="wrapper">
  <img src="https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif" alt="code" />
  <h1>Reinaldo P Jr</h1>
  <h2>Programador Fullstack em construção</h2>
  <p>
    Buscando se tornar um profissional bem capacitado. Segue o
    <a id="git" href="https://github.com/JucaRei" target="_blank">Github</a> !
  </p>
</div>

<div id="links-footer" class="links">
  <a href="https://twitter.com" target="_blank">Twitter</a>
  <a href="https://www.linkedin.com" target="_blank">Linkedin</a>
</div>
{% endblock %}
