@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-rocket: #7159c1;
  --secundary-color: #f7df1e;
  --blue-color: #0a5fad;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Balsamiq Sans", cursive;
  background-color: var(--color-rocket);
}

header {
  background-color: white;
  width: 100%;
  padding: 32px;
  text-align: center;
  /* respeita o limite de width  */
  box-sizing: border-box;
}

.links {
  font-size: 22px;
}

/* pega o segundo em diante e adiciona o margin */
.links a + a {
  margin-left: 35px;
}

.links a {
  text-decoration: none;
  color: #777;
  position: relative;
}

.links a.active {
  font-weight: bold;
  color: var(--color-rocket);
}

.links a:hover {
  color: var(--blue-color);
}

/* fazer animação da linha */
/* pseudo elements */
.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--blue-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  /* animar */
  width: 100%;
  transition: width 500ms cubic-bezier(1, 0.2, 0.65, 0.89) 100ms;
}

/* === CARD === */

.card {
  background-color: white;
  width: 800px;
  min-height: 400px;

  /* espaçamento ao centro */
  margin: 45px auto;

  /* grid dividido ao meio */
  display: grid;
  grid-template-columns: 1fr 1fr;

  /* sombra */
  /* 1- eixo x |2- eixo y |3- blur |4- spread |5- cor */
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.6);

  /* animation */
  animation: up 500ms ease-in-out;
  /* animation-name: up;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-play-state: running;
  animation-iteration-count: 3;
  animation-direction: alternate; */
}

@keyframes up {
  from {
    opacity: 0;
    /* de baixo pra cima ()*/
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}

/* Details */
.details {
  padding: 32px;
}

.details .item {
  border-bottom: 1px solid rgba(116, 69, 69, 0.09);
  padding: 12px 0;
}

/* tirar a linha do ultimo elemento */
.details .item:last-child {
  border: none;
}

/* pega a primeira div */
.details h3,
.details .item div:nth-child(1) {
  color: #777;
  font-size: 14px;
  /* da uma separado no texto */
  line-height: 26px;
  /* espaçamento entre as letras */
  letter-spacing: 0.8px;
  font-weight: 600;
}

/* pega a segunda div */
.details .item div:nth-child(2) {
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-rocket);
}

.details .item span {
  padding: 8px 16px;
  background-color: var(--secundary-color);
  border-radius: 1.8ex;
  color: #777;
  margin-right: 4px;
  margin-top: 8px;
  /* precisa para aceitar o margin top */
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

/* FORM */

input {
  width: 100%;
  outline: none;
  color: #556;
  font-weight: bold;
  font-size: 18px;
  padding: 2px;
}

/* só o radio */
input[type="radio"] {
  width: initial;
  margin-right: 4px;
}

input::placeholder {
  font-size: 17px;
  font-weight: normal;
}

button[type="submit"] {
  padding: 8px 32px;
  background-color: var(--color-rocket);
  color: white;
  border-radius: 10px;
  margin-top: 32px;
  width: 100%;
  font-size: 16px;
}
